.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 45px 0px 41px 0px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    margin: 0 auto 40px auto;
    max-width: 880px;
    width: 100%;
}

@media screen and (max-width: 920px) {
    .header {
        padding: 28px 19px 32px 27px;
        margin-bottom: 42px;
        box-sizing: border-box;
    }
}